<!DOCTYPE html>
<html>
  <head>
    <title>Perihal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='perihal.css')}}" />
  </head>
  <body>
    <div class="back">
      <a href="/"><b>Back</b></a>
    </div>
    <section class="team">
      <div class="container">
        <h1>The Developer</h1>
        <div class="card">
          <div class="box">
            <img src="{{url_for('static', filename='hiro1.png')}}" alt="team img" />
            <h4>Hiro Agayeff</h4>
            <h5>13519070</h5>
            <p>Teknik Informatika</p>
          </div>
        </div>
        <div class="card">
          <div class="box">
            <img src="{{url_for('static', filename='haniff.jpg')}}" alt="team img" />
            <h4>Hanif Arroisi</h4>
            <h5>13519072</h5>
            <p>Teknik Informatika</p>
          </div>
        </div>
        <div class="card">
          <div class="box">
            <img src="{{url_for('static', filename='ojann.jpg')}}" alt="team img" />
            <h4>Fauzan Y. Indrayadi</h4>
            <h5>13519171</h5>
            <p>Teknik Informatika</p>
          </div>
        </div>
	</section>
	<div class="kons-box">
        <div class="kons-title">Konsep</div>
        <div class="kons-desc">
			<br>
            Search engine adalah program yang mencari dokumen yang paling<br>
            memenuhi permintaan user. Biasanya input berupa kumpulan kata kunci
            (keyword) yang ingin dicocokkan. <br> <br> <br> <br> <br>
          </div>
        </div>
      </div>
	</div>
	<div class="how-box">
        <div class="how-title">How To Use</div>
        <div class="how-desc">
			<br>
			Masukkan kata kunci yang ingin dicari dari dokumen-dokumen yang ada,<br>
			lalu pencet tombol search agar keyword tersebut diproses oleh Search Engine <br>
			Search Engine akan menampilkan dokumen-dokumen yang terurut berdasarkan<br>
			tingkat kemiripannya dengan keyword (dari persentase tertinggi), <br>
			Search Engine juga menampilkan tingkat persentase kemiripan serta <br>
			kalimat pertama yang ada di dokumen tersebut. <br>
            (keyword) yang ingin dicocokkan. <br> <br> <br> <br> <br>
          </div>
        </div>
      </div>
	</div>
  </body>
</html>
