@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: auto;
  position: relative;
  min-height: 1px;
}

.team {
  min-height: 80vh;
  padding: 60px 15px;
  background-color: #22252a;
  float: left;
  width: 100%;
}
.team h1 {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  padding-bottom: 60px;
  text-align: center;
}
.team .card {
  width: 33%;
  float: left;
  padding: 0px 25px;
}
.team .card .box {
  padding: 25px;
  background-color: #2d3035;
  border-radius: 5px;
  transition: margin 1s ease, box-shadow 1s ease;
}
.team .card .box:hover {
  margin-top: -15px;
  box-shadow: 0px 0px 40px #b335ee;
}
.team .card .box img {
  width: 150px;
  display: block;
  margin: 20px auto;
  border-radius: 50%;
}

.team .card .box h4 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin: 20px 0px 10px;
  color: #b335ee;
  text-align: center;
  font-weight: 700;
}

.team .card .box h5 {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #b9b9b9;
  margin: 0px 0px 15px;
  text-align: center;
}
.team .card .box p {
  color: #b9b9b9;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding: 0px 20px;
}
.kons-title {
  background-color: #22252a;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  padding: 0px 15px;
}
.kons-desc {
  background-color: #22252a;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  padding: 0px 12px;
}
.how-title {
  background-color: #22252a;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  padding: 0px 15px;
}
.how-desc {
  background-color: #22252a;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  padding: 0px 12px;
}

/*responsive*/

@media (max-width: 991px) {
  .team .card {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 550px) {
  .team .card {
    width: 100%;
  }
}
