<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}" />
    <title>Search Result: {{term}}</title>
  </head>
  <body>
    <h1><center>Que-arch</center></h1>
    <form
      class="search"
      method="POST"
      action="search"
      style="margin: auto; max-width: 600px"
    >
      <input type="text" name="query" id="query" placeholder="Search query" />
      <button type="submit" value="submit">Search</button>
    </form>
    <div class="hasil">
      <h3><center>Hasil Pencarian</center></h3>
      <!--- Untuk pemanbahan variabel, tambahkan argumen keyword di render_template --->
      
      {% for i, similiarity in search %}
        <p><a href={{queries[i][0]}}>{{queries[i][0]}}</a></p>
        <p>Jumlah kata: {{lengths[i]}}</p>
        <p>Tingkat kemiripan: {{similiarity}}</p>
        <p>{{kalimat[i]}}</p><br>
      {% endfor %}
      <table>
        <tr>
          <th>Term</th>
          <th>Query</th>
          <th>D1</th>
          <th>D2</th>
          <th>D3</th>
          <th>D4</th>
          <th>D5</th>
          <th>D6</th>
          <th>D7</th>
          <th>D8</th>
          <th>D9</th>
          <th>D10</th>
          <th>D11</th>
          <th>D12</th>
          <th>D13</th>
          <th>D14</th>
          <th>D15</th>
        </tr>
        {% for i, word in words %}
        <tr>
          <td>{{word}}</td>
          <td>{{word_queries[-1][i]}}</td>
          <td>{{word_queries[0][i]}}</td>
          <td>{{word_queries[1][i]}}</td>
          <td>{{word_queries[2][i]}}</td>
          <td>{{word_queries[3][i]}}</td>
          <td>{{word_queries[4][i]}}</td>
          <td>{{word_queries[5][i]}}</td>
          <td>{{word_queries[6][i]}}</td>
          <td>{{word_queries[7][i]}}</td>
          <td>{{word_queries[8][i]}}</td>
          <td>{{word_queries[9][i]}}</td>
          <td>{{word_queries[10][i]}}</td>
          <td>{{word_queries[11][i]}}</td>
          <td>{{word_queries[12][i]}}</td>
          <td>{{word_queries[13][i]}}</td>
          <td>{{word_queries[14][i]}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
