/* CSS for query search(?) */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}
* {
  box-sizing: border-box;
}
form.search input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #ffae17;
  color: rgb(0, 0, 0);
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
form.search button:hover {
  background: #0bc2da;
}
form.search::after {
  content: "";
  clear: both;
  display: table;
}
