<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/static/index.css" />
    <title>Search Result</title>
  </head>
  <body>
    <h1><center>My Simple Search Engine</center></h1>
    <form
      class="search"
      method="POST"
      action="search"
      style="margin: auto; max-width: 600px"
    >
      <input type="text" name="query" id="query" placeholder="Search query" />
      <button type="submit" value="submit">Search</button>
    </form>
    <div class="hasil">
      <h3><center>Hasil Pencarian</center></h3>
      <!--- Untuk pemanbahan variabel, tambahkan argumen keyword di render_template --->
      <!--- Penggunaan template gunakan {{}} untuk substitusi, {%%} untuk statemen spesial --->
      {% for i, similiarity in search %}
        <a href={{queries[i][0]}}>{{queries[i][0]}}</a>
        {{similiarity}}
      {% endfor %}
    </div>
  </body>
</html>
