<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Result</title>
</head>
<body>
    <h1>My Simple Search Engine</h1>
    <form class="search" method="POST" action="search">
        <input type="text" name="query" id="query" placeholder="Search query">
        <button type="submit" value="submit">Search</button>
    </form>
    <div class="hasil">
        <h3>Hasil Pencarian</h3>
    </div>
</body>
</html>